@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  display: flex;
  align-items: center;
  background: url('/images/photo-desert.jpg');
  background-size: cover;
  -webkit-filter: saturate(2.5) sepia(0.5);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  &.animate {
    ul li {
      transform: translate3d(-24em, 0, 0);
    }

    p {
      transform: scaleY(0);
    }
  }

  p {
    @extend .lead;
    transition: transform 0.8s ease;
    transform: scaleY(1);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      @extend .lead;
      margin-bottom: 0.125rem;
      transform: translate3d(0, 0, 0);

      span {
        padding: 0 1.25rem;
      }

      &:nth-child(1) {
        //transition: transform 0.8s 0s ease-out;
        transition: transform 0.8s 0.4s ease-out;
      }
      &:nth-child(2) {
        //transition: transform 0.8s 0.28s ease-out;
        transition: transform 0.8s 0.95s ease-out;
      }
      &:nth-child(3) {
        //transition: transform 0.8s 0.645s ease-out;
        transition: transform 0.8s 1.8s ease-out;
      }
    }
  }

  span {
    display: inline-block;
    background: #fff;
    padding: 0 0.25rem;
  }
}
