.social {
  padding: 0.5rem 1rem;
  position: fixed;
  top: auto;
  right: 0;
  bottom: 1rem;

  @media (min-width: 28rem) {
    top: 0; bottom: auto;
  }

  ul {
    @extend .nav;
    @extend .navbar-nav;
    @include clearfix;
    float: right;
  }

  li {
    @extend .nav-item;
  }

  a {
    @extend .nav-link;
    color: $gray-dark;
  }

  .fa {
    @media (min-width: 28rem) {
      color: #f0f0f0;
    }

    &.github:before {
      content: $fa-var-github-alt;
    }
    &.linkedin:before {
      content: $fa-var-linkedin;
    }
    &.instagram:before {
      content: $fa-var-instagram;
    }
    &.facebook:before {
      content: $fa-var-facebook-official;
    }
    &.envelope:before {
      content: $fa-var-envelope;
    }
  }
}

.attributions {
  //height: 3.35em;
  position: fixed;
  width: 100%; bottom: 0; top: auto;
  background: rgba(255, 255, 255, 0.55);

  .show-md {
    display: none;

    @media (min-width: 28em) {
      display: inline-block;
    }
  }

  ul {
    @extend .nav;
    @extend .navbar-nav;
    @include clearfix;
    //float: right;
    font-size: 75%;

    li {
      //@extend .nav-item;
      padding: 0 ($grid-gutter-width / 4);
      color: $gray-dark;

      a {
        //@extend .nav-link;
        color: #000;
      }
    }
  }
}
